<div class="col-sm-6 at-calendar">
    <div class="row">
        <h1 class="at-year">2017</h1>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <button class="at-month at-active">МАЙ</button>
        </div>
        <div class="col-sm-6">
            <button class="at-month">ИЮНЬ</button>
        </div>
    </div>
    <table class="at-calendar-table">
        <tr class="at-calendar-weekday">
            <td>ПН</td>
            <td>ВТ</td>
            <td>СР</td>
            <td>ЧТ</td>
            <td>ПТ</td>
            <td>СБ</td>
            <td>ВС</td>
        </tr>
    </table>
</div>
<div class="col-sm-6">
    <p>Тут будет выводиться дата, и время, которое свободно. Мне так кажется</p>
</div>