{% extends "base.html" %}
{% load static from staticfiles %}
{% block title %}
    Главная страница | {{ block.super }}
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div id="portfolio-carousel" class="carousel slide portfolio" data-interval="3000" data-ride="carousel">
            <div class="carousel-inner">
                <div class="active item">
                    <img src="{% static 'images/photoportfolio/1.jpg' %}" alt="">
                    <div class="row caption">
                        <img class="photo" src="{% static 'images/photograph/1.png' %}" alt="">
                        <div class="col-sm-6 description">
                            <span>Федор Игнатов</span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="{% static 'images/photoportfolio/2.jpg' %}" alt="">
                    <div class="row caption">
                        <img class="photo" src="{% static 'images/photograph/2.png' %}" alt="">
                        <div class="col-sm-6 description">
                            <span>Акапян Ефрейтов</span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="{% static 'images/photoportfolio/3.jpg' %}" alt="">
                    <div class="row caption">
                        <img class="photo" src="{% static 'images/photograph/3.png' %}" alt="">
                        <div class="col-sm-6 description">
                            <span>Судорог Пенов</span>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control left" href="#portfolio-carousel" data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>
            <a class="carousel-control right" href="#portfolio-carousel" data-slide="next">
                <i class="fa fa-angle-right"></i>
            </a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <img class="col-sm-12 splitter" src="{% static 'images/splitter.png' %}" alt="">
    </div>
    <h1 class="row partition-name">Наши фотографы</h1>
</div>
<div class="container">
    <div class="row content photographs">
        <a class="col-sm-2 col-sm-offset-1" href="#">
            <img src="{% static 'images/photograph/1.png' %}" alt="" class="profile">
            <label for="">Steven Rogers</label>
        </a>
        <a class="col-sm-2" href="#">
            <img src="{% static 'images/photograph/2.png' %}" alt="" class="profile">
            <label for="">Judith White</label>
        </a>
        <a class="col-sm-2" href="#">
            <img src="{% static 'images/photograph/3.png' %}" alt="" class="profile">
            <label for="">Joan Santos</label>
        </a>
        <a class="col-sm-2" href="#">
            <img src="{% static 'images/photograph/4.png' %}" alt="" class="profile">
            <label for="">Keith Murray</label>
        </a>
        <a class="col-sm-2" href="#">
            <img src="{% static 'images/photograph/5.png' %}" alt="" class="profile">
            <label for="">Shirley Jacobs</label>
        </a>
    </div>
</div>
<div class="container">
    <div class="row">
        <img class="col-sm-12 splitter" src="{% static 'images/splitter.png' %}" alt="">
    </div>
    <h1 class="row partition-name">Зоны для фотосессий</h1>
</div>
<div class="container">
    <div class="row content photo-zone">
        <div class="col-xs-12">
            <div class="row img-preview">
                <div class="col-xs-6 col-sm-4"><img src="{%static 'images/zones/1.png'%}" alt=""></div>
                <div class="col-xs-6 col-sm-4"><img src="{%static 'images/zones/2.png'%}" alt=""></div>
                <div class="col-xs-6 col-sm-4"><img src="{%static 'images/zones/3.png'%}" alt=""></div>
                <div class="col-xs-6 col-sm-4"><img src="{%static 'images/zones/4.png'%}" alt=""></div>
                <div class="col-xs-6 col-sm-4"><img src="{%static 'images/zones/5.png'%}" alt=""></div>
                <div class="col-xs-6 col-sm-4"><img src="{%static 'images/zones/6.png'%}" alt=""></div>
            </div>
            <div class="row description">
                <p class="col-xs-12">
                    I have hinted that I would often jerk poor Queequeg from between the whale and the ship—where he would occasionally fall, from the incessant rolling and swaying of both. But this was not the only jamming jeopardy he was exposed to. Unappalled by the massacre made upon them during the night, the sharks now freshly and more keenly allured by the before pent blood which began to flow from the carcass—the rabid creatures swarmed round it like bees in a beehive.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <img class="col-sm-12 splitter" src="{% static 'images/splitter.png' %}" alt="">
    </div>
    <h1 class="row partition-name">Как нас найти</h1>
</div>
<div class="container-fluid">
    <div class="row contacts">
        <img src="{% static 'images/map.jpg' %}" alt="" class="col-sm-12 map">
    </div>
</div>
{% endblock %}