{% extends "base.html" %}
{% load static from staticfiles %}
{% block title %}
    Главная страница | {{ block.super }}
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div id="portfolio-carousel" class="carousel slide portfolio" data-interval="5000" data-ride="carousel">
            <div class="carousel-inner">
                <div class="active item">
                    <img src="{% static 'images/photoportfolio/1.jpg' %}" alt="">
                    <div class="row caption">
                        <img class="photo" src="{% static 'images/photograph/1/person.png' %}" alt="">
                        <div class="col-sm-6 description">
                            <span>Федор Игнатов</span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="{% static 'images/photoportfolio/2.jpg' %}" alt="">
                    <div class="row caption">
                        <img class="photo" src="{% static 'images/photograph/2/person.png' %}" alt="">
                        <div class="col-sm-6 description">
                            <span>Акапян Ефрейтов</span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="{% static 'images/photoportfolio/3.jpg' %}" alt="">
                    <div class="row caption">
                        <img class="photo" src="{% static 'images/photograph/3/person.png' %}" alt="">
                        <div class="col-sm-6 description">
                            <span>Судорог Пенов</span>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control left" href="#portfolio-carousel" data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>
            <a class="carousel-control right" href="#portfolio-carousel" data-slide="next">
                <i class="fa fa-angle-right"></i>
            </a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <img class="col-sm-12 splitter" src="{% static 'images/splitter.png' %}" alt="">
    </div>
    <h1 class="row partition-name">Наши фотографы</h1>
</div>
<div class="container">
    <div class="row content photographs">
        <div class="col-sm-12">
            <div class="row">
                <a class="at-img-link col-xs-4 col-sm-2 col-sm-offset-1" href="#">
                    <img src="{% static 'images/photograph/1/person.png' %}" alt="" class="at-img">
                    <label class="at-description" for="">Steven Rogers</label>
                </a>
                <a class="at-img-link col-xs-4 col-sm-2" href="#">
                    <img src="{% static 'images/photograph/2/person.png' %}" alt="" class="at-img">
                    <label class="at-description" for="">Judith White</label>
                </a>
                <a class="at-img-link col-xs-4 col-sm-2" href="#">
                    <img src="{% static 'images/photograph/3/person.png' %}" alt="" class="at-img">
                    <label class="at-description" for="">Joan Santos</label>
                </a>
                <a class="at-img-link col-xs-4 col-sm-2" href="#">
                    <img src="{% static 'images/photograph/4/person.png' %}" alt="" class="at-img">
                    <label class="at-description" for="">Keith Murray</label>
                </a>
                <a class="at-img-link col-xs-4 col-sm-2" href="#">
                    <img src="{% static 'images/photograph/5/person.png' %}" alt="" class="at-img">
                    <label class="at-description" for="">Shirley Jacobs</label>
                </a>
            </div>
            <div class="row description">
                <p class="col-xs-10 col-xs-offset-1">
                    I have hinted that I would often jerk poor Queequeg from between the whale and the ship—where he would occasionally fall, from the incessant rolling and swaying of both. But this was not the only jamming jeopardy he was exposed to. Unappalled by the massacre made upon them during the night, the sharks now freshly and more keenly allured by the before pent blood which began to flow from the carcass—the rabid creatures swarmed round it like bees in a beehive.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <img class="col-sm-12 splitter" src="{% static 'images/splitter.png' %}" alt="">
    </div>
    <h1 class="row partition-name">Зоны для фотосессий</h1>
</div>
<div class="container">
    <div class="row content photo-zone">
        <div class="col-xs-12">
            <div class="row img-preview">
                <a class="at-img-link col-sm-4 col-xs-4" href="#">
                    <img src="{% static 'images/zones/1.png' %}" alt="" class="at-img">
                    <label class="at-description" for="">Фото для детей</label>
                </a>
                <a class="at-img-link col-sm-4 col-xs-4" href="#">
                    <img src="{% static 'images/zones/2.png' %}" alt="" class="at-img">
                    <label class="at-description" for="">В ожидании чуда</label>
                </a>
                <a class="at-img-link col-sm-4 col-xs-4" href="#">
                    <img src="{% static 'images/zones/3.png' %}" alt="" class="at-img">
                    <label class="at-description" for="">Для влюбленных</label>
                </a>
                <a class="at-img-link col-sm-4 col-xs-4" href="#">
                    <img src="{% static 'images/zones/4.png' %}" alt="" class="at-img">
                    <label class="at-description" for="">Куб</label>
                </a>
                <a class="at-img-link col-sm-4 col-xs-4" href="#">
                    <img src="{% static 'images/zones/5.png' %}" alt="" class="at-img">
                    <label class="at-description" for="">Свадьба</label>
                </a>
                <a class="at-img-link col-sm-4 col-xs-4" href="#">
                    <img src="{% static 'images/zones/6.png' %}" alt="" class="at-img">
                    <label class="at-description" for="">Гостинная</label>
                </a>
            </div>
            <div class="row description">
                <p class="col-xs-10 col-xs-offset-1">
                    I have hinted that I would often jerk poor Queequeg from between the whale and the ship—where he would occasionally fall, from the incessant rolling and swaying of both. But this was not the only jamming jeopardy he was exposed to. Unappalled by the massacre made upon them during the night, the sharks now freshly and more keenly allured by the before pent blood which began to flow from the carcass—the rabid creatures swarmed round it like bees in a beehive.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <img class="col-sm-12 splitter" src="{% static 'images/splitter.png' %}" alt="">
    </div>
    <h1 class="row partition-name">Как нас найти</h1>
</div>
{% include 'contact.html' %}
{% endblock %}