{% extends "base.html" %}
{% load static from staticfiles %}
{% block title %}
    Оставить заявку фотографу | {{ block.super }}
{% endblock %}
{% block content %}
    <p>
        <br><br><br><br><br><br><br><br><br><br>
    </p>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4">
                <div>
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div>
                            <button type="submit" class="btn btn-primary">Отправить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}