nav.navbar.navbar-at {
    position: fixed;
    top: 0;
    opacity: 0;
    width: 100%;
    border-radius: 0;
    z-index: 1000;
    background-color: rgba(255,255,255,0);
    box-shadow: 0;
    transition: background-color 0.3s ease-in;
    //.backgrounded(0.8);
    .nav.navbar-nav {
        width: 100%;
        text-align: center;
        li {
            padding-right: 0;
            padding-left: 0;
        }
        li > a {
            .font-text(1.3em);
            padding: 25px;
            color: white;
            //text-shadow: 2px 2px 4px rgb(150,150,150);
            transition: 0.2s ease-in;
            &:hover {
                border: transparent;
                background-color: rgba(227,233,227, 0.3);
                //color: #008ae9;
                text-shadow: 2px 2px 4px rgb(100,100,100);
            }
        }
        .logo {
            position: absolute;
            top: 0.2em;
            img {
                width: 8em;
                height: 8em;
            }
        }
    }
}

nav.navbar.navbar-at-scroll {
    background-color: rgba(255,255,255,1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    .nav.navbar-nav {
        li > a {
            color: #008ae9;
        }
    }
}