//@import "reset.less";
@import "variable.less";
@import "media.less";
@import "mixin.less";
@import "header.less";
@import "footer.less";

@import "photograph.less";

body {
    a:hover {
        text-decoration: none;
    }
}

.logo {
    padding: 8px;
    img {
        width: 100%;
    }
}

.splitter {
    width: 100%;
    padding-top: 2em;
}

div.at-backing {
    position: absolute;
    opacity: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #055fab;
}

div.content.portfolio-img {
    overflow: hidden;
    padding: 0;
    *[class*="col-"] {
        margin-left: 0;
        margin-right: 0;
        padding: 0;
    }
    .row {
        margin-left: 0;
        margin-right: 0;
    }
    .at-img-justify {
        width: 100%;
    }
}

.container, .container-fluid {
    .partition-name {
        .font-headers;
        font-size: 2.5em;
        padding-top: 0;
        padding-bottom: 0.3em;
    }
    .content {
        .backgrounded;
        .bordered;
        padding: 1em 0 1em 0;
    }
}

.description {
    text-align: justify;
    margin-top: 1em;
    .font-text;
    color: rgb(137, 174, 219);
}

.at-img-link {
    position: relative;
    .at-img {
        width: 100%;
        border: 1px solid transparent;
        transition: border 0.4s ease;
    }
    .at-description {
        display: block;
        position: absolute;
        margin: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin-right: 16px;
        margin-left: 16px;
        background-color: rgba(6, 106, 180, 0.8);
        //.backgrounded(0.9);
        text-align: center;
        height: 2em;
        font-size: 1em;
        color: rgb(209, 209, 209);
        transition: 0.2s ease-in;
    }

    &:hover {
        .at-img {
            /*border: 1px solid #66b4d5;*/
        }
        .at-description {
            font-size: 1.4em;
            color: rgb(255,255,255);
        }
    }
}

.content.photo-zone {
    .at-img-link {
        margin-bottom: 30px;
    }
}
.at-contacts {
    position: relative;
    img.at-map {
        position: relative;
        width: 100%;
        .bordered;
    }
}

.at-contacts-container {
    margin-top: -20em;
    .at-contact-address {
        background-color: #FFF;
        border: 1px solid gray;
        z-index: 1000;
        p {
            .font-text;
        }
    }
    .at-contact-registration {
        .backgrounded(0.6);
        border: 1px solid gray;
        border-left: none;
        z-index: 1001;
        
    }
}

#portfolio-carousel {
    position: relative;
    .carousel-inner {
        height: 100%;
    }
    .item {
        height: 100%;
        width: 100%;
        img {
            width: 100%;
        }
        .caption {
            position: absolute;
            opacity: 0;
            z-index: 100;
            width: 200px;
            height: 150px;
            bottom: 2em;
            left: 50%;
            border: none;
            overflow: hidden;
            .description {
                position: absolute;
                bottom: 0;
                width: 100%;
                opacity: 0;
                border: none;
                .backgrounded(0.4);
                .font-headers;
                font-size: 1.4em;
                color: #FFFFFF;
                span {
                    text-align: center;
                    display: block;
                }
            }
            .photo {
                padding: 0;
                overflow: hidden;
            }
        }
    }
    .carousel-control {
        width: 2em;
        i {
            font-size: 1.5em;
            position: absolute;
            top: 50%;
            margin-top: -1.5em/2;
        }
    }
}


/* PHOTOGRAPH LESS */
.photograph-information {
    overflow: hidden;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
     .row {
        padding-right: 0;
        padding-left: 0;
        margin-right: 0;
        margin-left: 0;
    }
    & [class*="col-"] {
        padding-right: 0;
        padding-left: 0;
        margin-right: 0;
        margin-left: 0;
    }
    .photograph-information {
        background-image: -webkit-linear-gradient(#76B5FF 0%, #3B6FAD 100%);
        background-image: -moz-linear-gradient(#76B5FF 0%, #3B6FAD 100%);
        background-image: -o-linear-gradient(#76B5FF 0%, #3B6FAD 100%);
        background-image: linear-gradient(#76B5FF 0%, #3B6FAD 100%);
        padding: 30px;
        .font-headers;
        .desc {
            opacity: 0;
            padding-top: 50px;
        }
        .photograph-label {
            font-size: 2em;
            color: rgb(6, 106, 180);
        }
        .photograph-name {
            opacity: 0;
            padding-top: 10px;
            padding-bottom: 10px;
            color: #fff;
            font-size: 3em;
            letter-spacing: 5.45px;
            text-shadow: 2px 2px 2px rgba(255,255,255,0.50);
        }
        .description {
            opacity: 0;
            color: #fff;
        }
    }
}

.portfolio-img {
    .photo {
        min-height: 300px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-color: #ccc;
    }
}