.photograph-information, .photograph-information .row {
}

.photograph-information {
    .photograph-img {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
    }
}

div.content.galery {
    margin: 0;
    padding: 0;

    .photo {
        cursor: pointer;
        padding: 0;
        height: 20em;
        a {
            display: block;
            height: 100%;
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .photo-desc {
            z-index: 3;
            position: absolute;
            padding-bottom: 20px;
            opacity: 0;
            bottom: 10px;
            right: 20px;
            color: #FFFFFF;
        }
    }
}