@media (max-width: @screen-sm-min) {

}

.photograph-information {
    .photograph-img {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
    }
}

.photograph-information {
    .photograph-img {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
    }
}

.photograph-information {
    .photograph-img {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
    }
}

div.content.galery {
    margin: 0;
    padding: 0;
    .photo {
        cursor: pointer;
        padding: 0;
        height: 20em;
        a {
            display: block;
            height: 100%;
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .photo-desc {
            z-index: 3;
            position: absolute;
            padding-bottom: 20px;
            opacity: 0;
            bottom: 10px;
            right: 20px;
            color: #FFFFFF;
        }
    }
}


/* PHOTOGRAPH LESS */
.photograph-information {
    overflow: hidden;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
     .row {
        padding-right: 0;
        padding-left: 0;
        margin-right: 0;
        margin-left: 0;
    }
    & [class*="col-"] {
        padding-right: 0;
        padding-left: 0;
        margin-right: 0;
        margin-left: 0;
    }
    .photograph-information {
        background-image: -webkit-linear-gradient(#76B5FF 0%, #3B6FAD 100%);
        background-image: -moz-linear-gradient(#76B5FF 0%, #3B6FAD 100%);
        background-image: -o-linear-gradient(#76B5FF 0%, #3B6FAD 100%);
        background-image: linear-gradient(#76B5FF 0%, #3B6FAD 100%);
        padding: 1em;
        .font-headers;
        .desc {
            opacity: 0;
            padding-top: 50px;
        }
        .photograph-label {
            font-size: 1.5em;
            color: rgb(6, 106, 180);
        }
        .photograph-name {
            opacity: 0;
            padding-top: 10px;
            padding-bottom: 10px;
            color: #fff;
            font-size: 1.6em;
            letter-spacing: 5.45px;
            text-shadow: 2px 2px 2px rgba(255,255,255,0.50);
        }
        .description {
            opacity: 0;
            color: #fff;
            font-size: 1em;
        }
    }
}


// CALENDAR
.at-calendar {
    margin-top: -16px;
    margin-bottom: -16px;
    background-color: #FFF;
    font-family: "Comfortaa";
    padding-top: 10px;
    padding-bottom: 10px;
    .at-year {
        color: #1C6899;
        padding: 0 10px 10px 10px;
        margin-right: 0.5em;
        margin-left: 0.5em;
        border-bottom: 2px solid #1C6899;
    }
    .at-month {
        display: block;
        width: 100%;
        border: none;
        background-color: transparent;
        font-size: 1em;
        text-align: center;
        color: #B6C850;
        padding: 0.5em;
        cursor: pointer;
        transition: background-color 0.5s ease-in;
        &:hover {
            background-color: #e8ff66;
        }
    }
    .at-month.at-active {
        background-color: #B6C850;
        color: #FFF;
    }

    .at-calendar-table {
        color: #1C6899;
        font-weight: bold;
        margin-top: 1.5em;
        width: 100%;
        .at-calendar-weekday {
            td {
                padding: 10px;
            }
        }
        td {
            text-align: center;
            cursor: default;
            .at-calendar-day-btn {
                cursor: pointer;
                border: 1px solid transparent;
                background-color: transparent;
                margin: 5px;
                width: 40px;
                height: 40px;
                transition: 0.4s ease;
                border-radius: 4px;
                &:hover {
                    background-color: #B6C850;
                    color: #FFF;
                }
            }
            .at-calendar-day-btn.active {
                background-color: #B6C850;
                border-radius: 4px;
            }
        }
    }

}